.input-wrapper {
    display: grid;
    row-gap: 0.5rem;
}

.labels {
    display: flex;
    justify-content: space-between;
}

.info label,.error-message {
    color: var(--marine-blue);
    font-weight: var(--light);
}

.error-message {
    color: var(--strawberry-red);
}

.info input {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: solid 2px var(--cool-gray);
}

.info input::placeholder {
    color: var(--cool-gray);
    font-weight: var(--bold);
}

.info input:valid {
    border: solid 2px var(--purplish-blue);
    outline: none;
}

.info input:invalid {
    border: solid 2px var(--strawberry-red);
    outline: none;
}

@keyframes required-animation {
    0%,50%,100% {}
    25% {
        transform: translateY(-2px);
    }
    75% {
        transform: translateY(2px);
    }
}

.add-required-animation {
    animation: required-animation 250ms ease-in-out 2;
}

.info button {
    padding: 0.75rem 1.5rem;
    margin-top: 5rem;
    width: fit-content;
    place-self: end;
    border-radius: 0.5rem;

    color: var(--light-gray);
    font-weight: var(--bold);
    background-color: var(--marine-blue);
}

.side-bar > .option-1 > button,.side-bar-mobile > button:nth-child(1) {
    background-color: var(--light-blue);
    color: var(--marine-blue);
    border: none;
}

@media screen and (max-width: 650px) {
    .input-wrapper {
        row-gap: 0;
    }
    .info input {
        padding: 0.5rem 1rem;
    }
}
