.add-on-options {
    width: 100%;

    display: grid;
    row-gap: 1rem;
}

.add-on-options > div {
    padding: 1rem;
    border: solid 2px var(--light-gray);
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    column-gap: 1rem;

    cursor: pointer;
}

.onClickStyle {
    outline: none;
    background-color: var(--magnolia);
}

.add-on-options input {
    width: 1.5rem;
    height: 1.5rem;
}

.add-on-info {
    flex: 1;
}

.add-on-info p:first-of-type {
    color: var(--marine-blue);
    font-weight: var(--bold);
}

.add-on-info p:last-of-type {
    color: var(--cool-gray);
}

.option-price {
    color: var(--purplish-blue);
}

.tracking-buttons {
    margin-top: 7.5rem;

    display: flex;
    justify-content: space-between;
}

.back,.next {
    padding: 0.75rem 1.5rem;
    width: fit-content;
    border-radius: 0.5rem;

    font-weight: var(--bold);
}
.next {
    color: var(--light-gray);
    background-color: var(--marine-blue);
}

.back {
    background: none;
    border: none;
    color: var(--cool-gray);
}

.side-bar > .option-3 > button,.side-bar-mobile > button:nth-child(3) {
    background-color: var(--light-blue);
    color: var(--marine-blue);
    border: none;
}